/* 
Colours 

Charcoal #313137
Navy #17317F
Blue #1A73E8
Light Blue #EDF4FF

*/


* {margin:0; box-sizing: border-box;}
body {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size:14px; color:#313137; background-color: #f0f0f0;}
a {color:#1A73E8; text-decoration: none;}
a.navy {color:#17317F;}
a.inline {border-bottom: 1px dotted #1A73E8;}

.wrapper {background-color: #fff; position:relative}

.header {background-color:#1A73E8; padding:12px 20px 6px; position:relative; color:#fff;}
      .tabs {background-color:#ffffff; color:#1A73E8; padding:0 0 0 8px; border-bottom:solid 1px #f0f0f0; border-top-right-radius: 4px; border-top-left-radius: 4px;}
      .tabs ul {list-style-type: none; padding:4px 8px 0; overflow:hidden;}
      .tabs ul li {display: inline-block; font-size:14px; padding:8px 0; color:#313137; font-weight:bold; margin-right:16px;}
      .tabs ul li.selected {border-bottom: solid 2px #fff; border-bottom: 2px solid #1A73E8; color:#1A73E8;}

      .searchform-wrapper {background-color:#1A73E8; padding:16px 20px; border-bottom: solid 2px #fff;}
      .searchform {background-color:#ffffff; padding:0; border-radius:8px;}    
      .searchform .field {background-color:#fff; padding:16px; position:relative; border-radius:4px;}
      .searchform .field:first-child {}
      .searchform .field .icon {color:#1A73E8; position:absolute; top:16px; left:16px; font-size: 22px;}
      .searchform .field .label {display:block;}
      .searchform .submit-button {display:inline-block; background-color:#FEDC07; border-radius:8px; padding:12px; text-align:center; color:#17317F; font-weight:bold; position:absolute; top:12px; right:12px; bottom:12px;}
      .block {height:200px; background-color: #f0f0f0; margin-bottom:20px; border-radius: 4px;}

      .tools {background-color:#fff; padding:12px 20px; border-bottom:solid 1px #f0f0f0}
      .tools ul {overflow:hidden; padding:0}
      .tools ul li {list-style-type:none; float:left; width:33%; padding:0; margin:0; text-align:center;}
      .tools ul li a {font-weight:bold; font-size: 16px;}


.list {padding:0 20px; min-height:1000px;}
.card {min-height:450px; background-color:#fff; border-radius:8px; margin-bottom:16px;-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.08);
-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.08);
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.08);}

.tools {padding:16px 20px;}
.tools .holdbags {border: 1px solid #1A73E8; padding:4px 8px; background-color:#fff; margin-bottom:8px; border-radius:4px; font-size:14px;}
.tools .tools-container {display: flex; flex-direction: row;}
.tools .tools-container > div {border: 1px solid #1A73E8; flex-grow: 1; padding:4px; text-align:center; font-size:14px; border-radius:4px;}
.sort {margin-left:4px; color:#1A73E8; }
.filter {margin-right:4px;color:#fff; background-color:#1A73E8;}

.card .images {height:215px; background-color:#EDF4FF; border-top-left-radius: 4px; border-top-right-radius: 4px; position:relative}
.card .images .perk {position:absolute; height:26px; top:8px;left:8px; background-color:#D91677; padding:4px 8px; font-size: 14px; border-radius:4px; color:#fff; font-weight:800;}
.card .images .save {position: absolute; top:8px; right:8px; border-radius:4px; background-color:#fff; height:26px; width:30px; padding-top:5px; padding-left:4PX;}
.card .images .controls {position:absolute; bottom:8px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); background-color:#fff; padding:4px 8px; border-radius:4px; font-size:13px; height:24px}
.controls span {display:inline-block; margin:0 8px;}
.card .content {padding:12px;}
.card .content .name, .name {font-size:18px; font-weight:700}

.card .content .rating {margin-bottom:4px;}
.rating > img {display: inline-block; margin-right:8px; vertical-align: top}
.rating > span {display: inline-block; vertical-align: top; font-size:12px; color:#666;}
.rating .stars {margin-top:1px} 

.card .content .desc {margin-bottom:8px;}

.card .content .detail {margin-bottom:8px; position:relative; padding-left: 24px;}
.detail .icon {position:absolute; top:2px; left:0;}

.card .price {border-top:solid 1px #ddd; padding:12px; position:relative; }
.card .price .total {font-weight:900; font-size:32px; color:#17317F}

.card .price-block {padding:0 12px 12px; position:relative; overflow:hidden;}
.card .price-block > div {float:left; width:50%;}
.card .price-block .badges > div {background-color:#FEED81; padding:4px 8px; border-radius:4px; display: inline-block; font-size:12px; margin-bottom: 4px; font-weight: bold; color:#17317F;}
.card .price-block .data {text-align: right}
.card .price-block .data .label {color:#999; font-size:12px;}
.card .price-block .total {font-weight:900; font-size:24px; color:#17317F}


.continue {width:100%; border:0; background-color:#FEDC07; color:#17317F; font-weight:800; padding:12px 0; font-size:16px; border-radius:4px; margin-top:12px; text-align: center;}
.continue span {position:display:inline-block; vertical-align: top;}
.continue img {position:display:inline-block; vertical-align: top; margin-top:3px; height:16px; margin-left:8px;}
.atol {position:absolute; top:20px; right:16px}

.footer {height:100px; background-color: #1A73E8;}

.results-card {background-color: #fff; border: solid 1px #f0f0f0; margin-bottom: 24px; border-radius:4px;}
        .results-card .photo {position:relative; height:230px; border-top-left-radius: 4px; border-top-right-radius: 4px;}
        .results-card .photo .perk {position:absolute; top:8px; left:8px; border-radius:4px; padding:4px 8px; background-color:#D91677; color:#fff; font-weight: bold; font-size: 14px;}
        .results-card .photo .count {position:absolute; bottom:8px; right:16px; font-size:12px; padding:4px 8px; background-color:#fff; border-radius:4px; font-weight: bold;}
        .results-card .photo .save {border-radius:50%; background-color: #fff; padding:7px; position:absolute; top:8px; right:16px; width:28px; height:28px;}
        .results-card .photo .next {position:absolute; height:28px; width:28px; padding:4px 8px; border-radius:50%; background-color: #fff; right:16px; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);}
        .results-card .photo .prev {position:absolute; height:28px; width:28px; padding:4px 7px; border-radius:50%; background-color: #fff; left:16px; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);}
        .results-card .content {padding:16px;}
        .results-card .action {margin-top:24px; overflow:hidden;}
        .results-card .action > div {float:left; width:50%;}
        
        .results-card .action .from {color:#767676; font-size:12px; display: none}
        .results-card .action .price-lead {font-size:32px; font-weight: bold;}
        .results-card .action .price-secondary {font-size:14px;}
        .results-card .action .cta .button {background-color:#FEDC07; color:#17317F; font-weight: bold; font-size: 14px; border-radius:4px; text-align:center; padding: 16px 0; margin-top:8px; } 

.detail {margin-bottom:12px; position:relative; padding-left: 32px;}
      .detail .icon {position:absolute; top:2px; left:0; height:16px;}
      .detail  {font-size: 14px!important; }
      .detail .map-link {font-weight: bold;}
      .detail a {font-weight: bold}
      .perk {color:#D91677; font-weight: bold;} 
      .perk .icon {height:20px;}
      .perk .inline {padding-top:4px; display:inline-block; font-size: 14px!important;}
      a.inline-link {color:#313137; text-decoration: underline; text-decoration-style:dotted; text-decoration-color: #767676; font-weight: normal;}

.rating {margin-top:4px;}
      .rating .star {display:inline-block; margin-right:4px;}
      .rating .star .icon-star {font-size: 20px; color:#FEDC07}
      .rating > img {display: inline-block; margin-right:8px; vertical-align: top}
      .rating > span {display: inline-block; vertical-align: top; font-size:12px; color:#666;}
      .rating .stars {margin-top:1px} 
      .rating .stars .icon-star {font-size: 20px; color:#FEDC07}

      .links {margin-top:16px; border-top: solid 1px #ddd;}
            .links > div {text-align:center; padding:16px 0 0;}
            .links > div a {font-weight: bold;}


@media only screen and (min-width: 500px) {
	.wrapper {width:360px; margin:0 auto; background-color: #fff;}
	.qv-window {width: 360px; position: fixed; margin:auto;}
}



