/* 
Colours 

Charcoal #313137
Navy #17317F
Blue #1A73E8
Light Blue #EDF4FF

*/


* {margin:0; box-sizing: border-box;}
body {font-family:'Montserrat'; font-size:14px; background-color:#eee; color:#313137}
a {color:#1A73E8; text-decoration: none;}
a.navy {color:#17317F;}
.inline {border-bottom: 1px dotted #313137; font-size: 14px; color:#313137;}

.wrapper {background-color: #fff;}
.header {background-color:#1A73E8; padding:12px 20px 0; position:relative;}
.header-icon {color:#FEDC07; font-size:40px}
.search {background-color:#1A73E8; padding:0 20px 12px;}
h1 {font-weight: 800; margin-bottom: 20px; font-size: 20px;}
.list {padding:0 20px; min-height:1000px;}
.card {background-color:#fff; border-radius:8px; margin-bottom:16px;-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.08);
-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.08);
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.08);}

.tools {padding:12px 20px; background-color: #EDF4FF}
.tools > div {overflow: hidden;}
.tools > div > div {float:left; width:33.33%; text-align: center; font-weight: bold;}
.tools > div > div span {display:inline-block; vertical-align: top; font-size: 16px;}
.tools > div > div .icon {font-size:18px; margin-right:4px;}

.card .images {height:200px; background-color:#EDF4FF; border-top-left-radius: 4px; border-top-right-radius: 4px; position:relative}
.card .images .perk {position:absolute; top:8px;right:8px; background-color:#D91677; padding:4px 8px; font-size: 13px; border-radius:4px; color:#fff; font-weight:800;}
.card .images .save {position: absolute; top:8px; right:8px; border-radius:4px; background-color:#fff; height:26px; width:30px; padding-top:5px; padding-left:4PX; display:none;}
.card .images .controls {position:absolute; bottom:0px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); background-color:#fff; padding:4px 8px; border-radius:4px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; font-size:13px; opacity:0.8}
.controls span {display:inline-block; margin:0 8px;}
.card .content {padding:16px;}
.card .content .name {font-size:18px; font-weight:700; margin-bottom: 4px;}

.card .content .rating {margin-bottom:12px;}
.rating > img {display: inline-block; margin-right:8px; vertical-align: top}
.rating > span {display: inline-block; vertical-align: top; font-size:12px; color:#666;}
.rating .stars {margin-top:1px} 

.card .content .detail {margin-bottom:8px; position:relative; padding-left: 24px;}
.detail .icon {position:absolute; top:2px; left:0;}
.detail  {font-size: 14px!important; }

.card .price {border-top:solid 1px #ddd; padding:12px; position:relative;}
.card .price .total {font-weight:900; font-size:32px; color:#1A73E8}
.continue {width:100%; border:0; background-color:#FEDC07; color:#17317F; font-weight:800; padding:12px 0; font-size:16px; border-radius:4px; margin-top:12px; text-align: center;}
.continue span {position:display:inline-block; vertical-align: top;}
.continue img {position:display:inline-block; vertical-align: top; margin-top:3px; height:16px; margin-left:8px;}
.atol {position:absolute; top:20px; right:16px}

.footer {height:100px; background-color: #1A73E8;}


        
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 21px;
  background-color: #fff;
  border-radius:4px;
  border:solid 1px #1A73E8;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #EDF4FF;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #1A73E8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 3px;
  height: 8px;
  border: solid #FEDC07;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



@media only screen and (min-width: 500px) {
	.wrapper {width:380px; margin:0 auto; background-color: #fff;}
}



