<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SRP layout</title>
    <link rel="stylesheet" href="base.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
      $(document).ready(function(){
        
        $(".filters").click(function(){
          $(".filters-overlay").show();
        });

        $(".filters-panel .close").click(function(){
          $(".filters-overlay").hide();
        })
        
      });
  </script>

  </head>
  <body>
    <div class="wrapper">
      <div class="header" style="padding:12px 20px 0;">
        <img src="icons/logo.png" style="height:36px;"/>
        <div style="position:absolute; right:20px; top:16px;">
          <img src="icons/person.svg" style="height:24px; display:inline-block; vertical-align: top; margin-right:12px;"/>
          <img src="icons/burger.svg" style="height:24px; display:inline-block; vertical-align: top;"/>
        </div>
        
        
      </div>
      <div class="search" style="padding:8px 20px 16px;">
        <div style="background-color:#fff; padding: 8px 12px; border-radius:4px;">
          <div style="font-weight:800; font-size:14px; margin-bottom: 4px">Tenerife</div>
          <div style="font-size:12px;">13 Aug 2004 (7 nights) • 2 Adults, 1 room </div>
        </div>
        
      </div>
      <div class="tools">
        <div>
          <div><a href="#" class="filters"><span class="material-symbols-outlined icon">tune</span><span>Filters</span></a></div>
          <div><a href="#" class="sort"><span class="material-symbols-outlined icon">sort</span><span>Sort</span></a></div>
          <div><a href="#" class="map"><span class="material-symbols-outlined icon">map</span><span>Map</span></a></div>
        </div>
      </div>
      <!--<div class="tools">
        <div class="holdbags" style="font-weight:800; font-size: 14px;">Add Hold Bags</div>
        <div class="tools-container">
          <div class="filter" style="font-weight:800; font-size: 14px;">Filter</div>
          <div class="sort" style="font-weight:800; font-size: 14px;">Sort</div>
        </div>
      </div>-->
      <div class="list" style="padding-top:20px">
        <div class="page-title" style="position:relative">
          <h1>189 holidays</h1>
          <div style="position:absolute; right:0; top:0; border:solid 2px #EDF4FF; border-radius:4px; padding:4px; font-size:16px; ">
            Hold bags
            <select style="border:0; font-weight: bold; color:#1A73E8; background-color: #fff; font-size:16px">
              <option selected>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        
        <div class="card">
          <div class="images" style="background-image: url('photos/iberostarselection.png'); background-size:cover">
            <div class="perk">FREE Mobile Data</div>
            <div class="save"><img src="icons/save.png" /></div>
            <div class="controls"><img src="icons/arrow-sm-left.png" /><span class="number">1/25</span><img src="icons/arrow-sm-right.png" /></div>
          </div>
          <div class="content">
            <div class="name"><a href="#">Iberostar Selection Anthelia</a></div>
            <div class="rating"><img src="icons/stars.png" class="stars" /> <img src="icons/ta.png" class="ta"/><span class="reviews">2203 reviews</span></div>
            <div class="detail">
              <img src="icons/map.png" class="icon" />
              <span class="inline">Costa Adeje, Tenerife Spain</span>
            </div>
            <div class="detail">
              <img src="icons/flight.png" class="icon" />
              <span class="inline">London Gatwick</span>
            </div>
            <div style="overflow:hidden; margin-top:16px;">
              <div style="float:left; width:60%">
                <div class="detail">
                  <img src="icons/cal.png" class="icon" />
                  <span>2 Sep 2024 (7 nights)</span>
                </div>
                <div class="detail">
                  <img src="icons/board.png" class="icon" />
                  Bed & Breakfast
                  </div>
              </div>
              <div  style="float:left; width:40%; text-align:right">
                <div>
                  <div>Prices from</div>
                  <div style="font-size:24px; font-weight:bold; color:#1A73E8">£1674</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- card -->

        <div class="card">
          <div class="images" style="background-image: url('photos/atlantida.png'); background-size:cover">
            <div class="perk">FREE Mobile Data</div>
            <div class="save"><img src="icons/save.png" /></div>
            <div class="controls"><img src="icons/arrow-sm-left.png" /><span class="number">1/25</span><img src="icons/arrow-sm-right.png" /></div>
          </div>
          <div class="content">
            <div class="name"><a href="#">Checkin Bungalows Atlantida</a></div>
            <div class="rating"><img src="icons/stars.png" class="stars" /> <img src="icons/ta.png" class="ta"/><span class="reviews">2203 reviews</span></div>
            <div class="detail">
              <img src="icons/map.png" class="icon" />
              <span class="inline">Los Cristianos, Tenerife, Spain</span>
            </div>
            <div class="detail">
              <img src="icons/flight.png" class="icon" />
              <span class="inline">London Gatwick</span> 
            </div>
            <div style="overflow:hidden; margin-top:16px;">
              <div style="float:left; width:60%">
                <div class="detail">
                  <img src="icons/cal.png" class="icon" />
                  <span>2 Sep 2024 (7 nights)</span>
                </div>
                <div class="detail">
                  <img src="icons/board.png" class="icon" />
                  Self catering
                  </div>
              </div>
              <div  style="float:left; width:40%; text-align:right">
                <div>
                  <div>Prices from</div>
                  <div style="font-size:24px; font-weight:bold; color:#1A73E8">£780</div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <!-- card -->

        <div class="card">
          <div class="images" style="background-image: url('photos/sol.png'); background-size:cover">
            <div class="perk">FREE Mobile Data</div>
            <div class="save"><img src="icons/save.png" /></div>
            <div class="controls"><img src="icons/arrow-sm-left.png" /><span class="number">1/25</span><img src="icons/arrow-sm-right.png" /></div>
          </div>
          <div class="content">
            <div class="name"><a href="#">Sol Tenerife</a></div>
            <div class="rating"><img src="icons/stars.png" class="stars" /> <img src="icons/ta.png" class="ta"/><span class="reviews">6217 reviews</span></div>
            <div class="detail">
              <img src="icons/map.png" class="icon" />
              <span class="inline">Playa De Las Americas, Tenerife, Spain</span>
            </div>
  
            <div class="detail">
              <img src="icons/flight.png" class="icon" />
              <span class="inline">London Gatwick</span>
            </div>
            <div style="overflow:hidden; margin-top:16px;">
              <div style="float:left; width:60%">
                <div class="detail">
                  <img src="icons/cal.png" class="icon" />
                  <span>2 Sep 2024 (7 nights)</span>
                </div>
                <div class="detail">
                  <img src="icons/board.png" class="icon" />
                  Bed & Breakfast
                  </div>
              </div>
              <div  style="float:left; width:40%; text-align:right">
                <div>
                  <div>Prices from</div>
                  <div style="font-size:24px; font-weight:bold; color:#17317F">£1230</div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <!-- card -->

        <div class="card">
          <div class="images" style="background-image: url('photos/columbus.png'); background-size:cover">
            <div class="perk">FREE Mobile Data</div>
            <div class="save"><img src="icons/save.png" /></div>
            <div class="controls"><img src="icons/arrow-sm-left.png" /><span class="number">1/21</span><img src="icons/arrow-sm-right.png" /></div>
          </div>
          <div class="content">
            <div class="name"><a href="#">Columbus Aparthotel</a></div>
            <div class="rating"><img src="icons/stars.png" class="stars" /> <img src="icons/ta.png" class="ta"/><span class="reviews">2345 reviews</span></div>
            <div class="detail">
              <img src="icons/map.png" class="icon" />
              <span class="inline">Playa De Las Americas, Tenerife, Spain</span>
            </div>

            <div class="detail">
              <img src="icons/flight.png" class="icon" />
              <span class="inline">London Gatwick</span> 
            </div>
            <div style="overflow:hidden; margin-top:16px;">
              <div style="float:left; width:60%">
                <div class="detail">
                  <img src="icons/cal.png" class="icon" />
                  <span>2 Sep 2024 (7 nights)</span>
                </div>
                <div class="detail">
                  <img src="icons/board.png" class="icon" />
                  Half board
                  </div>
              </div>
              <div  style="float:left; width:40%; text-align:right">
                <div>
                  <div>Prices from</div>
                  <div style="font-size:24px; font-weight:bold; color:#17317F">£1376</div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <!-- card -->

        <div class="card">
          <div class="images" style="background-image: url('photos/sabila.png'); background-size:cover">
            <div class="perk">FREE Mobile Data</div>
            <div class="save"><img src="icons/save.png" /></div>
            <div class="controls"><img src="icons/arrow-sm-left.png" /><span class="number">1/22</span><img src="icons/arrow-sm-right.png" /></div>
          </div>
          <div class="content">
            <div class="name"><a href="#">Iberostar Selection Sábila - Adults Only</a></div>
            <div class="rating"><img src="icons/stars.png" class="stars" /> <img src="icons/ta.png" class="ta"/><span class="reviews">2967 reviews</span></div>
            <div class="detail">
              <img src="icons/map.png" class="icon" />
              <span class="inline">Costa Adeje, Tenerife, Spain</span>
            </div>

            <div class="detail">
              <img src="icons/flight.png" class="icon" />
              <span class="inline">London Gatwick</span>
            </div>
            <div style="overflow:hidden; margin-top:16px;">
              <div style="float:left; width:60%">
                <div class="detail">
                  <img src="icons/cal.png" class="icon" />
                  <span>2 Sep 2024 (7 nights)</span>
                </div>
                <div class="detail">
                  <img src="icons/board.png" class="icon" />
                  Bed & Breakfast
                  </div>
              </div>
              <div  style="float:left; width:40%; text-align:right">
                <div>
                  <div>Prices from</div>
                  <div style="font-size:24px; font-weight:bold; color:#17317F">£1942</div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <!-- card -->

        <div class="card">
          <div class="images" style="background-image: url('photos/melia.png'); background-size:cover">
            <div class="perk">FREE Mobile Data</div>
            <div class="save"><img src="icons/save.png" /></div>
            <div class="controls"><img src="icons/arrow-sm-left.png" /><span class="number">1/20</span><img src="icons/arrow-sm-right.png" /></div>
          </div>
          <div class="content">
            <div class="name"><a href="#">Melia Jardines del Teide - Adults Only</a></div>
            <div class="rating"><img src="icons/stars.png" class="stars" /> <img src="icons/ta.png" class="ta"/><span class="reviews">331 reviews</span></div>
            <div class="detail">
              <img src="icons/map.png" class="icon" />
              <span class="inline">Costa Adeje, Tenerife, Spain</span>
            </div>
            <div class="detail">
              <img src="icons/flight.png" class="icon" />
              <span class="inline">London Gatwick</span>
            </div>
            <div style="overflow:hidden; margin-top:16px;">
              <div style="float:left; width:60%">
                <div class="detail">
                  <img src="icons/cal.png" class="icon" />
                  <span>2 Sep 2024 (7 nights)</span>
                </div>
                <div class="detail">
                  <img src="icons/board.png" class="icon" />
                  Bed & Breakfast
                  </div>
              </div>
              <div  style="float:left; width:40%; text-align:right">
                <div>
                  <div>Prices from</div>
                  <div style="font-size:24px; font-weight:bold; color:#17317F">£1832</div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <!-- card -->

        <div class="card">
          <div class="images" style="background-image: url('photos/laguna.png'); background-size:cover">
            <div class="perk">FREE Mobile Data</div>
            <div class="save"><img src="icons/save.png" /></div>
            <div class="controls"><img src="icons/arrow-sm-left.png" /><span class="number">1/23</span><img src="icons/arrow-sm-right.png" /></div>
          </div>
          <div class="content">
            <div class="name"><a href="#">Laguna Park II</a></div>
            <div class="rating"><img src="icons/stars.png" class="stars" /> <img src="icons/ta.png" class="ta"/><span class="reviews">4332 reviews</span></div>
            <div class="detail">
              <img src="icons/map.png" class="icon" />
              <span class="inline">Costa Adeje, Tenerife, Spain</span>
            </div>
            <div class="detail">
              <img src="icons/flight.png" class="icon" />
              <span class="inline">London Gatwick</span>
            </div>
            <div style="overflow:hidden; margin-top:16px;">
              <div style="float:left; width:60%">
                <div class="detail">
                  <img src="icons/cal.png" class="icon" />
                  <span>2 Sep 2024 (7 nights)</span>
                </div>
                <div class="detail">
                  <img src="icons/board.png" class="icon" />
                  Bed & Breakfast
                  </div>
              </div>
              <div  style="float:left; width:40%; text-align:right">
                <div>
                  <div>Prices from</div>
                  <div style="font-size:24px; font-weight:bold; color:#17317F">£664</div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <!-- card -->

        <div class="card">
          <div class="images" style="background-image: url('photos/gara.png'); background-size:cover">
            <div class="perk">FREE Mobile Data</div>
            <div class="save"><img src="icons/save.png" /></div>
            <div class="controls"><img src="icons/arrow-sm-left.png" /><span class="number">1/21</span><img src="icons/arrow-sm-right.png" /></div>
          </div>
          <div class="content">
            <div class="name"><a href="#">Gara Suites</a></div>
            <div class="rating"><img src="icons/stars.png" class="stars" /> <img src="icons/ta.png" class="ta"/><span class="reviews">993 reviews</span></div>
            <div class="detail">
              <img src="icons/map.png" class="icon" />
              <span class="inline">Playa De Las Americas, Tenerife, Spain</span>
            </div>
            <div class="detail">
              <img src="icons/flight.png" class="icon" />
              <span class="inline">London Gatwick</span>
            </div>
            <div style="overflow:hidden; margin-top:16px;">
              <div style="float:left; width:60%">
                <div class="detail">
                  <img src="icons/cal.png" class="icon" />
                  <span>2 Sep 2024 (7 nights)</span>
                </div>
                <div class="detail">
                  <img src="icons/board.png" class="icon" />
                  Bed & Breakfast
                  </div>
              </div>
              <div  style="float:left; width:40%; text-align:right">
                <div>
                  <div>Prices from</div>
                  <div style="font-size:24px; font-weight:bold; color:#17317F">£930</div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
      <div class="footer"></div>

      <style type="text/css">

        .filters-overlay {position:fixed; top:0; bottom:0; left:0; right:0; display:none;}
        .filters-panel {position:absolute; top:0; bottom:0; left:0; right:0; background-color:#fff;}
        .filters-panel .head {position:absolute; top:0; left:0; right:0; height:50px; border-bottom:solid 2px #EDF4FF; padding:12px 20px 0;}
        .filters-panel .filters-area {position:absolute; top:52px; left:0; right:0; bottom:0; overflow-y: scroll;}
        .filters-area .filter-group {border-bottom:solid 2px #EDF4FF; padding:20px;}
        .filters-area .filter-group h3 {font-size: 20px; margin-bottom:16px;}
        .head .close {position:absolute; right:20px; top:12px;}




        @media only screen and (min-width: 500px) {
          .filters-overlay {position:fixed; top:0; bottom:0; left:0; right:0; margin-right: auto; margin-left: auto; width:380px;}
        }
      </style>
      <div class="filters-overlay">
        <div class="filters-panel">
          <div class="head">
            <h2>Filters</h2>
            <a class="close" href="#"><span class="material-symbols-outlined">close</span></a>
          </div>
          <div class="filters-area">
            <div class="filter-group">
              <h3>Board Basis</h3>
              <div>
                <label class="container">Any
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
                <label class="container">All-inclusive
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="container">Bed & Breakfast
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="container">Full Board
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
                
            </div>

            <div class="filter-group">
              <h3>Departure dates</h3>
              <div>
                <label class="container">Any
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
                <label class="container">Tue 27 Aug 2024
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="container">Wed 28 Aug 2024
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <label class="container">Thur 29 Aug 2024
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
                
            </div>
          </div>
        </div>
      </div>

    </div>
  	
    <script src="index.js"></script>
  </body>
</html>