<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SRP layout</title>
    <link rel="stylesheet" href="base.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito Sans:400,800,900' rel='stylesheet'>
  </head>
  <body>
    <div class="wrapper">
      <div class="header" style="padding:12px 20px;">
        <img src="icons/logo.png" />
      </div>
      <div class="search" style="padding:12px 20px; color:#fff;">
        <div style="font-weight:800; font-size:16px; ">Tenerife</div>
        <div style="font-size:13px;">13 Aug 2004 (7 nights) • 2 Adults, 1 room </div>
      </div>
      <div class="tools">
        <div class="holdbags">Add Hold Bags</div>
        <div class="tools-container">
          <div class="filter" style="font-size: 14px;">Filter</div>
          <div class="sort" style="font-size: 14px;">Sort</div>
        </div>
      </div>
      <div class="list">
        <h1>189 holidays</h1>
        <div class="card">
          <div class="images" style="background-image: url('photos/iberostarselection.png'); background-size:cover">
            <div class="perk">FREE Mobile Data</div>
            <div class="save"><img src="icons/save.png" /></div>
            <div class="controls">1/25</div>
          </div>
          <div class="content">
            <div class="name"><a href="#" class="navy">Iberostar Selection Anthelia</a></div>
            <div class="rating"><img src="icons/stars.png" class="stars" /> <img src="icons/ta.png" class="ta"/><span class="reviews">2203 reviews</span></div>
            <div class="detail">
              <img src="icons/map.png" class="icon" />
              <a href="#" class="inline">Costa Adeje, Tenerife Spain</a>
            </div>
            <div class="detail">
              <img src="icons/cal.png" class="icon" />
              <span>2 Sep 2024 • 7 nights</span>
            </div>
            <div class="detail">
              <img src="icons/flight.png" class="icon" />
              <a href="#" class="inline">London Gatwick</a> • <a href="#" class="inline">Hold bags included</a> 
            </div>
            <div class="detail">
              <img src="icons/board.png" class="icon" />
              Bed & Breakfast
            </div>
          </div>
          <div class="price">
            <div>
              <div>Prices from</div>
              <div class="total">£837 pp</div>
              <button style="width:100%; border:0; background-color:#FEDC07; color:#17317F; font-weight:800; padding:12px 0; font-size:16px; border-radius:4px; margin-top:12px;">See more details</button>
              <div class="atol"><img src="icons/atol.png" /></div>
            </div>

          </div>
        </div>
        <div class="result-card"></div>
        <div class="result-card"></div>
        <div class="result-card"></div>
        <div class="result-card"></div>
      </div>
      
    </div>
  	
    <script src="index.js"></script>
  </body>
</html>