
/* 
Colours 

Charcoal #313137
Navy #17317F
Blue #1A73E8
Light Blue #EDF4FF

*/
* {margin:0; box-sizing: border-box;}
body {font-family:'Montserrat'; font-size:14px; background-color:#fff; color:#313137;}
a {text-decoration:none; color:#1A73E8;}

.fill {font-variation-settings: 'FILL' 1,'wght' 400, 'GRAD' 0,'opsz' 24}
.icon-star {font-size:18px; color:#1A73E8}

.search {background-color: #1A73E8; padding:12px; color:#fff;}
.image-container {position:relative;}
.image-container img {width:100%}
.image-container .image-count-container {position:absolute; bottom:16px; right:12px; background-color:#fff; opacity:0.8; padding:6px; border-radius:4px;}
.image-container .image-count-container .image-count {font-size:12px; font-weight:bold;}

.container {padding:12px 20px;}

h1 {font-size:20px; font-weight: bold;}
h2 {font-size:18px; font-weight: bold; margin-bottom:12px;}

.rating {margin-top:4px;}
.rating .star {display:inline-block; margin-right:4px;}
.rating > img {display: inline-block; margin-left:8px;margin-right:2px; vertical-align: top}
.rating > span {display: inline-block; vertical-align: top; font-size:11px; color:#666; margin-top:3px;}
.rating .stars {margin-top:1px} 

.location {font-size:14px; margin-top:8px;}

.highlights-list {margin-top:20px;}
.highlights-list > div {margin-bottom:8px; background-image: url('umbrella.svg'); background-repeat: no-repeat; padding-left:36px;}

.about {margin-top:32px;}
.about p {line-height:1.5}

.facilities {margin-top:32px;}
ul.facilites-list {overflow-hidden; margin: 0px 0px 0px 17px;
   padding: 0px 0px 0px 0px}
ul.facilites-list li {float:left; width:50%; margin-bottom: 8px;}
@media only screen and (min-width: 500px) {
	body {background-color:#eee;}
	.wrapper {width:360px; margin:0 auto; background-color: #fff; min-height: 1000px;}
}