* {margin:0; box-sizing: border-box;}
body {font-family:'Nunito Sans'; font-size:14px; background-color:#eee; color:#313137; margin:0; padding:0}
a {text-decoration: none; color:#1A73E8}
.wrapper {background-color:#F8FAFF; min-height: 1000px;}
.page {padding:80px 20px 20px;}

.col-2 {display: flex; flex-wrap: wrap;} 
.col-2 > div {flex: 50%; text-align:center}
.col-2 > div > div {background-color:#fff; border:solid 1px #1A73E8; padding:8px 0; border-radius: 4px; margin-bottom:12px;}
.col-2 > div:nth-child(even) > div {margin-left:6px;}
.col-2 > div:nth-child(odd) > div {margin-right:6px;}

.col-3 {overflow:hidden;}
.col-3 > div {float:left; width:33.3%; }
.col-3 > div > div {background-color:#fff; border:solid 1px #1A73E8; padding:8px 0; border-radius: 4px; margin-bottom:12px; text-align:center;}
.head {font-size:18px; font-weight:bold; color:#1A73E8}

.options {color:#1A73E8}
.options .selected {background-color:#1A73E8; color:#fff !important; }
.options .selected .head {color:#fff !important; }


h1 {font-size:24px; line-height: 28px;}
h2 {font-size:20px; like-height:24px; margin:20px 0 12px 0}
.search-block {position:fixed; bottom:0; left:0; right:0; background-color:#fff; padding:12px 20px; border-top: solid 1px #ddd;}
.search-block a {display:block; font-size:20px; padding:12px; font-weight: bold; background-color:#eee; text-align:center; border-radius:4px; color:#17317F; background-color:#FEDC07;}

.header {position:fixed; top:0; left:0; right:0; background-color:#fff; padding:20px; border-bottom: solid 1px #ddd;}

.search-block a {font-size:20px; font-weight: bold;}
@media only screen and (min-width: 500px) {
	.wrapper {width:360px; margin:0 auto; }
	.search-block {position:fixed; bottom:0; left:0; right:0; margin-right: auto;
    margin-left: auto; width:360px; background-color:#fff; padding:20px; border-top: solid 1px #ddd;}
    .header {position:fixed; top:0; left:0; right:0; height:60px; left:0; right:0; margin-right: auto;
    margin-left: auto; width:360px;}
}


.dest-options > div {background-color: #fff; padding:12px; margin-bottom:12px}
.dest-options > div a {font-size:16px; font-weight: bold;}
input.destination {width:100%; padding:12px; border:solid 1px #ddd; border-radius:4px; font-size:16px;}

.search {background-color:#1A73E8; padding:16px 20px 20px; color:#fff;}
.search-nav ul {padding:0; margin:0; font-size:16px;}
.search-nav ul li {display:inline-block; margin-right:20px; }
.search-nav ul li.selected {border-bottom:solid 1px #fff; font-weight:700;}
.search-form {margin-top:12px;}
.search-form .form-field {position:relative;background-color:#fff; border-radius: 4px; padding:12px 12px 12px 48px; color:#313137; margin-bottom: 8px;}
.search-button {display:block; width:100%; border:0; background-color:#FEDC07; color:#17317F; font-weight:800; padding:12px 0; font-size:16px; border-radius:4px; text-align: center;}

